div {
  display: flex;
}

.MainContainer {
  height: 100%;
  background-size: 100%;
}
app-main-container {
  width: 350px;
}
app-in-progressive , app-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
}
