
.mat-table {
  width: 100%;
}

.mat-paginator {
  width: 100%;
}
.mat-elevation-z8 {
  width: 100%;
}
.table-button {
  width: 50px;

}
.mat-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(255,255,255,.7) solid 1px;
  margin: 8px;
  font-size: 17px;
}

.btn-done {
  background: yellowgreen;
}
